.comment-section
    h3 Add comment
    form#comment-form
        textarea.form-control
        button.btn.btn-default(type="submit") Comment
    h3 Comments
    .comment
        h4 
            a(href="#") username
        .text
            p text text text
            p text text text
            p text text text
    .comment
        h4 
            a(href="#") username
        .text
            p text text text
            p text text text
            p text text text
    .comment
        h4 
            a(href="#") username
        .text
            p text text text
            p text text text
            p text text text

