extends layout

block vars
    - var user = username

block content
    #intro-div
        h1 Artasie 
        h3 the home of fantasy books fan artists
        hr        
        a(href="#login-register") Join
    hr
    .col-md-2
    a(name="login-register")
    .col-md-3
        form#login-form
            h4 
                i.fa.fa-sign-in 
                | &nbsp Login
            .form-group
                label Name 
                input.form-control(type="text", name="username")
            .form-group
                label Password
                input.form-control(type="password", name="password")
            button.btn.btn-default(type="submit") Login
            h4.error
    .col-md-1
    .col-md-3 
        form#register-form
            h4 
                i.fa.fa-user-plus 
                | &nbsp Create new account
            .form-group
                label Name
                input.form-control(type="text", name="username")
            .form-group
                label Email
                input.form-control(type="text",  name="email")
            .form-group
                label Password
                input.form-control(type="password",  name="password")
            label &nbsp I have read all the terms
            button.btn.btn-default Register
        h4.error

