html
    head
        block vars
        title Artasie
        link(rel="stylesheet", type="text/css", href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", type="text/css", href="/lib/fontawesome/css/font-awesome.css")
    body
        include main-nav
        block content
        script(src="/lib/jquery/dist/jquery.js")
        script(src="/lib/bootstrap/js/dropdown.js")
        script(src="/lib/bootstrap/js/collapse.js")
        script(src="/js/init.js")