html
    head
        block vars
        title Artasie
        link(rel="stylesheet", type="text/css", href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", type="text/css", href="/lib/fontawesome/css/font-awesome.css")
        link(rel="stylesheet", type="text/css", href="/css/styles.css")
        link(href="http://fonts.googleapis.com/css?family=Cinzel+Decorative|Josefin+Sans|Josefin+Slab|Cinzel", rel="stylesheet", type="text/css")
    body
        include main-nav
        block content
        script(src="/lib/jquery/dist/jquery.js")
        script(src="/lib/bootstrap/js/dropdown.js")
        script(src="/lib/bootstrap/js/collapse.js")
        sript(src="/lib/require/build/require.min.js")
        script(src="/lib/q/q.js")
        script(src="/lib/waypoints/lib/noframework.waypoints.min.js")
        script(src="/js/resource.js")
        script(src="/js/user.js")
        script(src="/js/init.js")