html
    head
        block vars
        title Artasie
        link(rel="stylesheet", type="text/css", href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", type="text/css", href="/lib/fontawesome/css/font-awesome.css")
        link(rel="stylesheet", type="text/css", href="/css/styles.css")
        link(href="http://fonts.googleapis.com/css?family=Cinzel+Decorative|Josefin+Sans|Josefin+Slab|Cinzel", rel="stylesheet", type="text/css")
    body
        include main-nav
        block content
        script(src="/lib/jquery/dist/jquery.js")
        script(src="/lib/bootstrap/js/dropdown.js")
        script(src="/lib/bootstrap/js/collapse.js")
        sript(src="/lib/jade/jade.js")
        script(src="/lib/q/q.js")
        script(src="/js/tools/helpers.js")
        script(src="/js/tools/resource.js")
        script(src="/js/controllers/art.js")
        script(src="/js/controllers/comments.js")
        script(src="/js/controllers/user.js")
        script(src="/js/init.js")