.galleryView
	div.content-fluid
		ul.thumbnails
			div.row
				li.col-md-3.thumbnail
					a(href="#")
						img(src="img/logo.png" alt="title by user")
					h3
						a(href="#") title
						a.pull-right.fa.fa-shopping-cart(href="#")
						a.pull-right.fa.fa-star(href="#")
					h5 
						a(href="#") user
				span &nbsp
				li.col-md-3.thumbnail
					a(href="#")
						img(src="img/logo.png" alt="title by user")
					h3 
						a(href="#") title
						a.pull-right.fa.fa-shopping-cart(href="#")
						a.pull-right.fa.fa-star(href="#")
					h5 
						a(href="#") user
				li.col-md-3.thumbnail
					a(href="#")
						img(src="img/logo.png" alt="title by user")
					a.fa.fa-star(href="#")
					h3
						a(href="#") title
						a.pull-right.fa.fa-shopping-cart(href="#")
						a.pull-right.fa.fa-star(href="#")
					h5 
						a(href="#") user
			div.row
				li.col-md-3.thumbnail
					a(href="#")
						img(src="img/logo.png" alt="title by user")
					h3 
						a(href="#") title
						a.pull-right.fa.fa-shopping-cart(href="#")
						a.pull-right.fa.fa-star(href="#")
					h5 
						a(href="#") user
				span &nbsp
				li.col-md-3.thumbnail
					a(href="#")
						img(src="img/logo.png" alt="title by user")
					h3 
						a(href="#") title
						a.pull-right.fa.fa-shopping-cart(href="#")
						a.pull-right.fa.fa-star(href="#")
					h5 
						a(href="#") user
				li.col-md-3.thumbnail
					a(href="#")
						img(src="img/logo.png" alt="title by user")
					h3
						a(href="#") title
						a.pull-right.fa.fa-shopping-cart(href="#")
						a.pull-right.fa.fa-star(href="#")
					h5 
						a(href="#") user