header.navbar.navbar-default
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type="button", 
             data-toggle="collapse", data-target="#main-nav")
                span.sr-only Toggle navigation
                span.fa.fa-bars
            a.navbar-brand(href="/")
                img(alt="Brand" src="img/logo.png")
        div#main-nav.collapse.navbar-collapse
            form.navbar-form.navbar-left#form-search(role="search")
                .form-group
                    input.form-control(type="text", placeholder="Search artists") 
                button.btn.btn-default(type="submit") 
                    i.fa.fa-search
           
            if user
                ul.nav.navbar-nav.navbar-right
                    li
                        a.fa.fa-home.fa-2x(href="/")
                    li
                        a.fa.fa-users.fa-lg(href="#")
                    
                    li.dropdown
                        a.dropdown-toggle(href="#", data-toggle="dropdown", 
                            role="button", aria-expanded="false") #{user}
                            span.caret
                        ul.dropdown-menu(role="menu")
                            li
                                a#view-profile(href="/profile") View profile
                            li.divider
                            li
                                a#logout-elem(href="#") Logout
            else
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="/register") Register
            
                form.navbar-form.navbar-right#sign-in-nav-form
                    .form-group
                        label Name: 
                        input.form-control(type="text", name="username")
                    .form-group
                        label Password:
                        input.form-control(type="password", name="password")
                    button.btn.btn-default(type="submit") Sign in