extends layout

block vars
    - var user = username

block content
    .row
        img(src="/img/" + piece.img, alt="art piece overview")
    .row
        .col-md-2
            h4 #{piece.name}
        .col-md-1
            a.pull-right.fa.fa-shopping-cart(href="#") &nbsp Buy
        .col-md-1
            a.pull-right.fa.fa-star(href="#") &nbsp Like
                span &nbsp #{piece.likes}
    .row
        .col-md-1
            img(src="img/logo.png", alt="user profile photo")
        col-md-3
            a(href="#") #{piece.artist}
    .row
        h4 Comments:
        include comment-layout
