extends layout

block vars
    - var user = userObj.username

block content
    .content
        .col-md-3
            .thumbnail
                img.img-thumbnail(src="/img/" + userObj.img, alt=user + " profile photo")
                .capture  
                    h3 
                        a(href="#") #{piece.artist}
        .col-md-1
        .col-md-5
            .thumbnail
                .caption.center-block
                    h2 
                        a(href="#") #{piece.name}
                        a.pull-right.fa.fa-shopping-cart(href="#")
                        a.pull-right.fa.fa-star(href="#")
                a(href="/art:" + piece._id)
                    img.img-thumbnail.img-responsive.center-block(src="img/" + piece.img, alt=piece.name + "by" + piece.artist)         
            .row
                include comment-layout
