extends layout

block vars
    - var user = data.username

block content
    .col-md-1
        .row
            img(src="/img/logo.png", alt="user profile photo")
        .row
            h3 #{user}
        .row
            h4 Guy Named
    .col-md-9
        nav.nav.nav-tabs
            ul.nav.nav-tabs.navbar-left
                li
                    a(href="#") Art
                li
                    a(href="#") Groups
                li
                    a(href="#") Friends
                li
                    a.fa.fa-plus(href="#") &nbsp Befriend
        .content-fluid
            ul.thumbnails.gallery
