extends layout

block vars
    - var user = data.user.username
    - var galleryData = data.user.art

block content
    .content
        .col-md-3
            .thumbnail
                img.img-thumbnail(src="/img/" + data.user.img, alt=user + " profile photo")
                .capture
                    h3 #{user}
                    hr
                    h4 Contact:
                    h4 #{data.user.email}
        .col-md-9
            nav.nav.nav-tabs
                ul.nav.nav-tabs.navbar-left
                    li.active
                        a(href="#") Art
                    li
                        a(href="#") Groups
                    li
                        a(href="#") Friends
                    li
                        if user == user
                            a.fa.fa-plus.add-art-btn(href="#") &nbsp Add art
                        else
                            a.fa.fa-plus(href="#") &nbsp Befriend
            .content-fluid.profile-content
                ul.thumbnails.gallery(name=user)
