.profile-gallery-layout
	div.content-fluid
		ul.thumbnails
			div.row
				li.col-md-12.thumbnail
					a(href="#")
						img(src="img/logo.png" alt="title by user")
					h3
						a(href="#") title
						a.pull-right.fa.fa-shopping-cart(href="#")
						a.pull-right.fa.fa-star(href="#")
					h5
						p Short description
						| Short description
						| Short description.. 
						a(href="#") (More)
			div.row
				li.col-md-12.thumbnail
					a(href="#")
						img(src="img/logo.png" alt="title by user")
					h3
						a(href="#") title
						a.pull-right.fa.fa-shopping-cart(href="#")
						a.pull-right.fa.fa-star(href="#")
					h5
						p Short description
						| Short description
						| Short description.. 
						a(href="#") (More)
			div.row
				li.col-md-12.thumbnail
					a(href="#")
						img(src="img/logo.png" alt="title by user")
					h3
						a(href="#") title
						a.pull-right.fa.fa-shopping-cart(href="#")
						a.pull-right.fa.fa-star(href="#")
					h5
						p Short description
						| Short description
						| Short description.. 
						a(href="#") (More)