extends layout

block content
	.content-fluid
		form#register-form.center-block
			.row
				.col-md-1
					label Username:
				.col-md-1
					input(type="text", name="username", placeholder="Sign in name")
			.row
				.col-md-1
					label First Name:
				.col-md-1
					input(type="text",  name="firstName", placeholder="Your real first name")
			.row
				.col-md-1
					label Last name:
				.col-md-1
					input(type="text",  name="lastName", placeholder="Your real last name")
			.row
				.col-md-1
					label Email:
				.col-md-1
					input(type="text",  name="email", placeholder="Your primary email")
			.row
				.col-md-1
					label Password:
				.col-md-1
					input(type="password",  name="password", placeholder="Sign in password")
			.row
				.col-md-2
					input(type="radio", name="terms", value="terms", checked="true") 
					label &nbsp I have read all the terms
			.row
				button.btn.btn-success Register me!