for art in galleryData
    .row
        .col-md-1
        li.col-md-10
            .row.thumbnail
                a(href="/art:" + art._id)
                    img.img-thumbnail.img-responsive.center-block(src="img/" + art.img, alt=art.name + "by" + art.artist)
                .row.caption.center-block
                    h2 
                        a(href="#") #{art.name}
                        a.pull-right.fa.fa-shopping-cart(href="#")
                        a.pull-right.fa.fa-star(href="/like:" + art._id)
                    h4 by &nbsp
                        a(href="#") #{art.artist}
.col-md-1
.col-md-10
    button.btn.btn-default.center-block#see-more-btn
        a.fa.fa-angle-double-down 
        span &nbsp See more &nbsp
        a.fa.fa-angle-double-down