.section
	.movie-info
		h1 User name
			.side-movie-opts-small
				a(href="#", title="Make friend")
					i.fa.fa-user-plus
		.col-md-3
			a(href="#")
				img.img-thumbnail(src="../img/team-img.jpg")
		.col-md-7
			ul.nav.nav-tabs
				li.active
					a#show-user-info(href="#") Info
				li
					a#show-user-favs(href="#") Favorites
				li
					a#show-user-watchlist(href="#") Watchlist
			.movie-info-content
		.col-md-2
			h1
				.side-movie-opts-large
					a(href="#", title="Make friend")
						i.fa.fa-user-plus.fa-2x

