.section
	.movie-info
		h1 Movie title
			.side-movie-opts-small
				a.movie-rating(href="#", title="Add to favorites")
					i.fa.fa-star
				a(href="#", title="Watch later")
					i.fa.fa-clock-o

		.col-md-3
			a(href="#")
				img.img-thumbnail(src="../img/team-img.jpg")
		.col-md-7
			ul.nav.nav-tabs
				li.active
					a#show-movie-gen-info(href="#") General info
				li
					a#show-movie-story(href="#") Storyline
				li
					a#show-movie-crew(href="#") Crew
			.movie-info-content
			
		.col-md-2
			h1
				.side-movie-opts-large
					.col-md-1
						a.movie-rating(href="#", title="Add to favorites")
							i.fa.fa-star.fa-2x
						a(href="#", title="Watch later")
							i.fa.fa-clock-o.fa-2x






