extends layout

block vars
  - var footer = foot
  - var navig = nav.all
  - var navigCurrent = nav.current

block content
    div.container-fluid
    div.thumbnail.pull-left
        img(src="img/blah.jpg")
    div
        h4 #{item.name}
        h4 by: #{item.author}
        each par in item.descr
            p #{par}
        button.btn.btn-primary Print