html
    block vars
    head
        title Students
        link(rel="stylesheet", type="text/css", href="lib/bootstrap/dist/css/bootstrap.min.css")
    body.container
        section.content
            div.row
                div.col-md-8
                    table.table.table-striped#all-students
                div.col-md-2
                    ul.nav.nav-tabs.nav-stacked
                        li: a(href="#") Add
                        li: a(href="#") Delete
                        li: a(href="#") Update
                        li: a(href="#") Find
            div.row
                form#student-form
                    div.row
                        div.col-md-1
                            label ID:
                        div.col-md-1
                            input(type="text")
                    div.row
                        div.col-md-1
                            label Name:
                        div.col-md-1
                            input(type="text")
                    div.row
                        div.col-md-1    
                            label Email:
                        div.col-md-1
                            input(type="text")
                    div.row
                        div.col-md-1
                            label Classes
                        div.col-md-1
                            input(type="text")
                    div.row
                        div.col-md-1
                            label gitrepo:
                        div.col-md-1
                            input(type="text")
                    div.row
                        div.col-md-1
                            button#add-btn.btn.btn-primary(type="submit") Add
                        div.col-md-1
                            button#up-btn.btn.btn-primary(type="submit") Update
                        div.col-md-1
                            button#del-btn.btn.btn-primary(type="submit") Delete
                        div.col-md-1
                            button#find-btn.btn.btn-primary(type="submit") Find
    script(src="lib/jquery/dist/jquery.js")
    script(src="students.js")