#fullpage
	.section.fullpage-section
		.center-form-div
			h1.brand-name Moviebook
			form
				input.form-control(type="text", placeholder="Name")
				input.form-control(type="password", placeholder="Password")
				button.btn.btn-info Log in
	.section.fullpage-section
		.about-section
			.about-div
		
	.section.fullpage-section
		.center-form-div
			h1.brand-name Moviebook
			form
				input.form-control(type="text", placeholder="Name")
				input.form-control(type="text", placeholder="Email")
				input.form-control(type="password", placeholder="Password")
				button.btn.btn-info Sign up
