html
	head
	title Moviebook
	link(rel="stylesheet", type="text/css", href="/css/styles.css")
	link(rel="stylesheet", type="text/css", href="/lib/bootstrap/dist/css/bootstrap.css")
	link(rel="stylesheet", type="text/css", href="/lib/fontawesome/css/font-awesome.css")
	link(href='http://fonts.googleapis.com/css?family=Comfortaa:700', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Limelight', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Lemon', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Fascinate', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Coustard:900', rel='stylesheet', type='text/css')

	link(rel="stylesheet", type="text/css", href="/lib/fullpage.js/jquery.fullPage.css")

	body(ng-app="moviebook")
		<div ui-view="header"></div>
		<div ui-view="content"></div>
		<div ui-view="footer"></div>
		
	
		// 
		script(src="lib/q/q.js")
		script(src="lib/jade/jade.js")

		// jquery plugins
		script(src="lib/jquery/dist/jquery.js")
		script(src="lib/jquery-ui/jquery-ui.js")
		script(src="lib/fullpage.js/jquery.fullPage.js")

		// bootstrap
		script(src="lib/bootstrap/js/dropdown.js")
		script(src="lib/bootstrap/js/collapse.js")
		script(src="lib/bootstrap/js/carousel.js")

		// tools
		script(src="/js/tools/helpers.js")

		// services
		script(src="js/services/auth.js")

		// controllers
		script(src="js/controllers/indexCtrl.js")
		script(src="js/controllers/homeCtrl.js")
		script(src="js/controllers/moviesCtrl.js")
		script(src="js/controllers/usersCtrl.js")

		//angular
		script(src="lib/angular/angular.js")
		script(src="lib/angular-ui-router/release/angular-ui-router.js")
		script(src="lib/angular-sanitize/angular-sanitize.js")
		script(src="lib/angular-resource/angular-resource.js")
		script(src="lib/angular-cookies/angular-cookies.js")
		//
		script(src="js/app-config.js")
		
		//
		script(src="js/app.js")