header.navbar
	.navbar-header
		a.navbar-brand.brand-name(href="/") Moviebook
	.nav.navbar-nav.navbar-right#header-nav-menu
		a.btn.btn-default.active(data-menuanchor="loginPage", href="#loginPage") Profile