.movie-table {
	border: 1px solid #65B2B2;
	border-radius: 10px;
	border-collapse: collapse;
	td {
		padding: 30px;
		.img-thumbnail {
			max-height: 200px;
		}
		a:hover i.fa { 
			transform: scale(1.1); 
		}
	}
	tr {
		border: 1px solid #65B2B2;
	}
	tr:nth-of-type(even) {
		background-color: rgba(0.5, 0.5, 0.5, 0.05);
	}	
}

.movie-info-table {
	margin-top: 20px;
	td {
		padding: 0 30px 20px 0;
	}
}