extends layout

block vars
  - var footer = foot
  - var navig = nav

block content
    ul.thumbnails.list-unstyled.text-center.pull-left
        for row in rows
            div.row
                for rowValue, key in row
                    for item in rowValue
                        for value, k in item
                            div.col-md-3
                                li.span4
                                    div.thumbnail                                
                                        h3 #{value.name}
                                        img(src="img/product1.png")
                                        button.btn.btn-primary(onclick="location.href='/product'") 
                                            &euro; #{value.price} Order now!