extends layout

block vars
  - var footer = foot
  - var navig = nav

block content
    .col-md-1
    .col-md-2
        img.img-thumbnail(src="img/product1.png")
    .col-md-4
        h4 #{item.name}
        each par in item.descr
            p #{par}
        button.btn.btn-primary(onclick="location.href='/cart'")
            &euro; #{item.price} Order now!
