header {
	.navbar-brand {
		margin: 0px;
		height: 50px;
		line-height: 50px;
		padding: 8px;
	}
}
 
@media (min-width: 768px){
	header {
		.navbar-brand, form.navbar-form {
			margin: 0px;
			height: 50px;
			line-height: 50px;
			padding: 8px 0px;
			display: inline-block;
			vertical-align: middle;
			.btn, > img, label {
				height: 34px;
				margin: 0px 5px;
			}
			label {
				line-height: 34px;
			}
		}
	}
}
 
@media (max-width: 768px){
	#form-search .btn {
		display: block;
		width: 100%;
	}
}

