#container {
	width: 90%;
	margin-left: 10%;
}

#task-list {
	list-style-type: none;
	width: 40%;
}

#task-list li {
	padding: 10px;
	margin-bottom: 10px;
	background-color: lavender;
}

.finished-task {
	text-decoration: line-through;
}

.delete-task-btn {
	float: right;
	clear: right;
	margin-right: 10%;
	color: red;
}