.slide-right
	h1 What makes 
		span.brand-name Moviebook 
		| amazing?
	h4 Moviebook is an awesome place for movie enthusiasts!
	h4 What can you do here?
	ul
		li Find new movies and add them to your favorites
		li Create and manage movie watchlists
		li Find people with common movie interests
		li Connect with friends from around the world!
	a#view-team-info(href="#")
		| Check out the Moviebook team
		span.fa.fa-long-arrow-right 	