#fullpage
	.section
		.picks
			h3 Newest
			.row
				.col-md-3.col-lg-3.col-sm-6
					a(href="#")
						.thumbnail
							img.img-thumbnail(src="/img/team-img.jpg")
							.capture.center-block
								.row
									.col-md-6
										p.movie-title Title
									.col-md-6
										p.movie-rating.pull-right 4.9 
											i.fa.fa-star
				.col-md-3.col-lg-3.col-sm-6
					a(href="#")
						.thumbnail
							img.img-thumbnail(src="/img/team-img.jpg")
							.capture.center-block
								.row
									.col-md-6
										p.movie-title Title
									.col-md-6
										p.movie-rating.pull-right 4.9 
											i.fa.fa-star
				.col-md-3.col-lg-3.col-sm-6
					a(href="#")
						.thumbnail
							img.img-thumbnail(src="/img/team-img.jpg")
							.capture.center-block
								.row
									.col-md-6
										p.movie-title Title
									.col-md-6
										p.movie-rating.pull-right 4.9 
											i.fa.fa-star
				.col-md-3.col-lg-3.col-sm-6
					a(href="#")
						.thumbnail
							img.img-thumbnail(src="/img/team-img.jpg")
							.capture.center-block
								.row
									.col-md-6
										p.movie-title Title
									.col-md-6
										p.movie-rating.pull-right 4.9 
											i.fa.fa-star
			.see-more
				h4 See more
					p
						a.btn-play(href="#") 
							i.fa.fa-forward.fa-3x
	.section
		.picks
			h3 Top rated
			.row
				.col-md-3.col-lg-3.col-sm-6
					a(href="#")
						.thumbnail
							img.img-thumbnail(src="/img/team-img.jpg")
							.capture.center-block
								.row
									.col-md-6
										p.movie-title Title
									.col-md-6
										p.movie-rating.pull-right 4.9 
											i.fa.fa-star
				.col-md-3.col-lg-3.col-sm-6
					a(href="#")
						.thumbnail
							img.img-thumbnail(src="/img/team-img.jpg")
							.capture.center-block
								.row
									.col-md-6
										p.movie-title Title
									.col-md-6
										p.movie-rating.pull-right 4.9 
											i.fa.fa-star
				.col-md-3.col-lg-3.col-sm-6
					a(href="#")
						.thumbnail
							img.img-thumbnail(src="/img/team-img.jpg")
							.capture.center-block
								.row
									.col-md-6
										p.movie-title Title
									.col-md-6
										p.movie-rating.pull-right 4.9 
											i.fa.fa-star
				.col-md-3.col-lg-3.col-sm-6
					a(href="#")
						.thumbnail
							img.img-thumbnail(src="/img/team-img.jpg")
							.capture.center-block
								.row
									.col-md-6
										p.movie-title Title
									.col-md-6
										p.movie-rating.pull-right 4.9 
											i.fa.fa-star
			.see-more
				h4 See more
					p
						a.btn-play(href="#") 
							i.fa.fa-forward.fa-3x
	.section
		.picks
			h3 Categories
			.row
				.col-md-3.col-lg-3.col-sm-6
					a(href="#")
						.thumbnail
							img.img-thumbnail(src="/img/team-img.jpg")
							.capture.center-block
								.row
									.col-md-6
										p.movie-title Title
									.col-md-6
										p.movie-rating.pull-right 4.9 
											i.fa.fa-star
				.col-md-3.col-lg-3.col-sm-6
					a(href="#")
						.thumbnail
							img.img-thumbnail(src="/img/team-img.jpg")
							.capture.center-block
								.row
									.col-md-6
										p.movie-title Title
									.col-md-6
										p.movie-rating.pull-right 4.9 
											i.fa.fa-star
				.col-md-3.col-lg-3.col-sm-6
					a(href="#")
						.thumbnail
							img.img-thumbnail(src="/img/team-img.jpg")
							.capture.center-block
								.row
									.col-md-6
										p.movie-title Title
									.col-md-6
										p.movie-rating.pull-right 4.9 
											i.fa.fa-star
				.col-md-3.col-lg-3.col-sm-6
					a(href="#")
						.thumbnail
							img.img-thumbnail(src="/img/team-img.jpg")
							.capture.center-block
								.row
									.col-md-6
										p.movie-title Title
									.col-md-6
										p.movie-rating.pull-right 4.9 
											i.fa.fa-star
			.see-more
				h4 See more
					p
						a.btn-play(href="#") 
							i.fa.fa-forward.fa-3x