.section
	.picks
		.col-md-11
			h3 Newest
			.row
				.col-md-3.col-lg-3.col-sm-6
					a(href="#")
						.thumbnail
							img.img-thumbnail(src="/img/team-img.jpg")
							.capture.center-block
								.row
									.col-md-6
										p.movie-title Title
									.col-md-6
										p.movie-rating.pull-right 4.9 
											i.fa.fa-star
				.col-md-3.col-lg-3.col-sm-6
					a(href="#")
						.thumbnail
							img.img-thumbnail(src="/img/team-img.jpg")
							.capture.center-block
								.row
									.col-md-6
										p.movie-title Title
									.col-md-6
										p.movie-rating.pull-right 4.9 
											i.fa.fa-star
				.col-md-3.col-lg-3.col-sm-6
					a(href="#")
						.thumbnail
							img.img-thumbnail(src="/img/team-img.jpg")
							.capture.center-block
								.row
									.col-md-6
										p.movie-title Title
									.col-md-6
										p.movie-rating.pull-right 4.9 
											i.fa.fa-star
				.col-md-3.col-lg-3.col-sm-6
					a(href="#")
						.thumbnail
							img.img-thumbnail(src="/img/team-img.jpg")
							.capture.center-block
								.row
									.col-md-6
										p.movie-title Title
									.col-md-6
										p.movie-rating.pull-right 4.9 
											i.fa.fa-star
		.col-md-1
			.row
				h4.see-more
					a.btn-play(href="#", title="See all new movies") 
						i.fa.fa-forward.fa-3x
	.picks
		.col-md-11
			h3 Top rated
			.row
				.col-md-3.col-lg-3.col-sm-6
					a(href="#")
						.thumbnail
							img.img-thumbnail(src="/img/team-img.jpg")
							.capture.center-block
								.row
									.col-md-6
										p.movie-title Title
									.col-md-6
										p.movie-rating.pull-right 4.9 
											i.fa.fa-star
				.col-md-3.col-lg-3.col-sm-6
					a(href="#")
						.thumbnail
							img.img-thumbnail(src="/img/team-img.jpg")
							.capture.center-block
								.row
									.col-md-6
										p.movie-title Title
									.col-md-6
										p.movie-rating.pull-right 4.9 
											i.fa.fa-star
				.col-md-3.col-lg-3.col-sm-6
					a(href="#")
						.thumbnail
							img.img-thumbnail(src="/img/team-img.jpg")
							.capture.center-block
								.row
									.col-md-6
										p.movie-title Title
									.col-md-6
										p.movie-rating.pull-right 4.9 
											i.fa.fa-star
				.col-md-3.col-lg-3.col-sm-6
					a(href="#")
						.thumbnail
							img.img-thumbnail(src="/img/team-img.jpg")
							.capture.center-block
								.row
									.col-md-6
										p.movie-title Title
									.col-md-6
										p.movie-rating.pull-right 4.9 
											i.fa.fa-star
		.col-md-1
			.row
				h4.see-more
					a.btn-play(href="#", title="See all popular movies") 
						i.fa.fa-forward.fa-3x
.section
	div
		h3 Categories
		.row
			.col-md-3
				a(href="#")
					h4 Comedy
			.col-md-3
				a(href="#")
					h4 Animation
			.col-md-3
				a(href="#")
					h4 Crime
			.col-md-3
				a(href="#")
					h4 Horror
		.row
			.col-md-3
				a(href="#")
					h4 Sci-fi
			.col-md-3
				a(href="#")
					h4 Thriller
			.col-md-3
				a(href="#")
					h4 Mystery
			.col-md-3
				a(href="#")
					h4 Horror