.section
	div
		h3 Movie search results
		table.movie-table
			tbody
			tr
				td
					a(href="#")
						.thumbnail
							img.img-thumbnail(src="/img/team-img.jpg")
				td
					p.movie-title Title
				td 
					p.movie-year 1990
				td
					p.movie-rating.pull-right 4.9 
				td 
					h2.movie-rating
						a(href="#")
							i.fa.fa-star
			tr
				td
					a(href="#")
						.thumbnail
							img.img-thumbnail(src="/img/team-img.jpg")
				td
					p.movie-title Title
				td 
					p.movie-year 1990
				td
					p.movie-rating.pull-right 4.9 
				td 
					h2.movie-rating
						a(href="#")
							i.fa.fa-star
			tr
				td
					a(href="#")
						.thumbnail
							img.img-thumbnail(src="/img/team-img.jpg")
				td
					p.movie-title Title
				td 
					p.movie-year 1990
				td
					p.movie-rating.pull-right 4.9 
				td 
					h2.movie-rating
						a(href="#")
							i.fa.fa-star
			tr
				td
					a(href="#")
						.thumbnail
							img.img-thumbnail(src="/img/team-img.jpg")
				td
					p.movie-title Title
				td 
					p.movie-year 1990
				td
					p.movie-rating.pull-right 4.9 
				td 
					h2.movie-rating
						a(href="#")
							i.fa.fa-star
