header.navbar {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	background: transparent;
	border: 0;

	.navbar-right {
		margin: 7px;
		.btn {
			margin: 0 4px 0 4px;
		}
	}
	.navbar-header a, .navbar-nav.navbar-right a {
		color: black;
		background-image: url('/img/mochaGrunge.png');
	}

	.navbar-form {
		height: 10%;
		padding: 0;
		margin-top: 13px;
		.input-group .input-group-addon, .form-control {
			height: 24px;
		}
		.input-group .input-group-addon {
			color: #65B2B2;
		}
		.input-group-addon i {
			line-height: 9px;
		}
	}
	.navbar-right {
		margin-top: 0;
		a {
			line-height: 20px;
		}
		li.dropdown.open .dropdown-toggle {
			background-color:  transparent;
			color: #555;
		}
		.dropdown-menu {
			background-image: url('/img/sandpaper.png');
			a:hover {
				background-color:  transparent;
				color: #555;
			}	
		}
	}

	#main-nav {
		background-image: url('/img/mochaGrunge.png');
	}
}
