.section {
	width: 100%;
	> div {
		background-color: #eee;
		width: 100%;
		padding: 10px;
		display: inline-block;
		box-shadow: 0 0 10px black;
		margin: 5% 0 0 0;
	}
	a {
		color: #65B2B2;
	 	&:hover {
			color: #74BABA;
			text-decoration: none;
		}
	}

	.movie-rating, .movie-rating a,  .movie-rating a:hover{
		font-family: 'Comfortaa', cursive;
		color: #FF9900;
	}
	.movie-rating a:hover i { 
		transform: scale(1.1); 
	}
	h3 {
		font-family: 'Comfortaa', cursive;
	}
	.picks {
		.row {
			width: 100%;
		}
		.see-more {
			font-family: 'Comfortaa', cursive;
			text-align: center;
			margin-top: 150%;
		}
	}
}

.btn-play {
	color: #65B2B2;
	display: inline-block;
	border-radius: 20px;
	padding: 5px 5px 5px 10px;
	&:hover {
		color: #74BABA;
		text-decoration: none;
	}
}