.slide-right {
  animation-duration: 1s;
  animation-name: slidein-right; }

@keyframes slidein-right {
  from {
    margin-left: 10%; }
  to {
    margin-left: 0; } }
.slide-left {
  animation-duration: 1s;
  animation-name: slidein-left; }

@keyframes slidein-left {
  from {
    margin-right: 10%; }
  to {
    margin-right: 0; } }
header.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: transparent;
  border: 0; }
  header.navbar .navbar-right {
    margin: 7px; }
    header.navbar .navbar-right .btn {
      margin: 0 4px 0 4px; }
  header.navbar .navbar-header a, header.navbar .navbar-nav.navbar-right a {
    color: black; }
  header.navbar .navbar-form {
    height: 10%;
    padding: 0;
    margin-top: 13px; }
    header.navbar .navbar-form .input-group .input-group-addon, header.navbar .navbar-form .form-control {
      height: 24px; }
    header.navbar .navbar-form .input-group .input-group-addon {
      color: #65B2B2; }
    header.navbar .navbar-form .input-group-addon i {
      line-height: 9px; }
  header.navbar .navbar-right {
    margin-top: 0; }
    header.navbar .navbar-right a {
      line-height: 20px; }
    header.navbar .navbar-right li.dropdown.open .dropdown-toggle {
      background-color: transparent;
      color: #555; }
    header.navbar .navbar-right .dropdown-menu {
      background-image: url("/img/sandpaper.png"); }
      header.navbar .navbar-right .dropdown-menu a:hover {
        background-color: transparent;
        color: #555; }

.center-form-div h1 {
  font-size: 3.3vw; }

.center-form-div, .about-div {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 20px black; }
  .center-form-div .btn, .about-div .btn {
    width: 100%; }
  .center-form-div .form-control, .center-form-div .btn, .about-div .form-control, .about-div .btn {
    margin: 5px; }

@media (min-width: 600px) {
  .center-form-div {
    width: 30%;
    padding: 50px;
    text-align: center;
    margin-left: 35%; }

  .about-div {
    width: 60%;
    padding: 50px;
    margin-left: 20%; }
    .about-div .btn {
      width: 60%; } }
@media (max-width: 600px) {
  .center-form-div {
    width: 100%; } }
.about-section {
  background-image: url("/img/sandpaper.png"); }
  .about-section .thumbnail {
    background-color: #65B2B2; }
  .about-section .caption p {
    text-align: center;
    color: white; }

.fullpage-section, .fullpage-section .center-form-div {
  position: absolute;
  margin-top: 0;
  top: 20%; }

.picks .row {
  width: 100%; }
.picks .see-more {
  font-family: 'Comfortaa', cursive;
  text-align: center;
  margin-top: 150%; }

.section {
  width: 100%; }
  .section > div {
    background-image: url("/img/sandpaper.png");
    width: 100%;
    padding: 10px;
    display: inline-block;
    box-shadow: 0 0 10px #555;
    margin: 5% 0 0 0; }
  .section a {
    color: #65B2B2; }
    .section a:hover {
      color: #74BABA;
      text-decoration: none; }
  .section .movie-rating, .section .movie-rating a, .section .movie-rating a:hover {
    font-family: 'Comfortaa', cursive;
    color: #FFFF00; }
  .section .movie-rating a:hover i {
    transform: scale(1.1); }
  .section h3 {
    font-family: 'Comfortaa', cursive; }

.movie-table {
  margin-left: 10%;
  border: 1px solid #65B2B2;
  border-radius: 10px;
  border-collapse: collapse; }
  .movie-table td {
    padding: 20px 50px 10px 50px;
    border: 1px solid #65B2B2; }
  .movie-table tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.05); }
  .movie-table .thumbnail .img-thumbnail {
    max-height: 100px; }

.btn-play {
  color: #65B2B2;
  background-color: gray;
  display: inline-block;
  border-radius: 10px;
  padding: 5px 5px 5px 10px; }
  .btn-play:hover {
    color: #74BABA;
    text-decoration: none; }

* {
  font-family: Verdana; }

body {
  background-image: url("/img/mochaGrunge_@2X.png"); }

body, .btn, .form-control, .dropdown .dropdown-menu a, .dropdown-toggle {
  font-family: 'Comfortaa', cursive; }

.brand-name {
  font-family: 'Lemon', cursive; }

.btn.btn-info {
  background-color: #65B2B2; }
  .btn.btn-info:hover, .btn.btn-info:active {
    background-color: #74BABA; }

form .form-control:focus {
  border-color: #74BABA;
  box-shadow: 0 0 6px #74BABA; }

a.btn.btn-default.active {
  cursor: default; }

.hidden {
  opacity: 0;
  transition: opacity 0.7s;
  transition-timing-function: ease; }

.visible {
  opacity: 1;
  transition: opacity 0.7s;
  transition-timing-function: ease; }

.movie-year {
  font-family: 'Comfortaa', cursive;
  color: #555;
  font-size: 80%; }

.capture {
  display: inline-block;
  padding: 5px;
  text-align: left;
  color: white; }

.movie-title {
  font-family: 'Comfortaa', cursive; }

.thumbnail {
  background-image: url("/img/mochaGrunge.png");
  display: inline;
  box-shadow: 0 0 7px #555;
  transition: all .4s ease; }
  .thumbnail .img-thumbnail {
    padding: 0;
    max-height: 150px; }
  .thumbnail:hover {
    transform: scale(1.02); }

/*# sourceMappingURL=styles.css.map */
