* {
  font-family: Verdana; }

body {
  background-image: url("/img/mochaGrunge_@2X.png"); }

body, .btn, .form-control, .dropdown .dropdown-menu a, .dropdown-toggle {
  font-family: 'Comfortaa', cursive; }

.brand-name {
  font-family: 'Lemon', cursive; }

.btn.btn-info {
  background-color: #65B2B2; }
  .btn.btn-info:hover, .btn.btn-info:active {
    background-color: #74BABA; }

form .form-control:focus {
  border-color: #74BABA;
  box-shadow: 0 0 6px #74BABA; }

a.btn.btn-default.active {
  cursor: default; }

.hidden {
  opacity: 0;
  transition: opacity 0.7s;
  transition-timing-function: ease; }

.visible {
  opacity: 1;
  transition: opacity 0.7s;
  transition-timing-function: ease; }

.movie-year {
  font-family: 'Comfortaa', cursive;
  color: #555;
  font-size: 80%; }

.capture {
  display: inline-block;
  padding: 5px;
  text-align: left;
  color: #555;
  width: 70%; }

.movie-title {
  font-family: 'Comfortaa', cursive; }

.thumbnail {
  background-image: url("/img/sandpaper.png");
  display: inline;
  box-shadow: 0 0 7px #555;
  transition: all .4s ease; }
  .thumbnail .img-thumbnail {
    padding: 0;
    max-height: 150px; }
  .thumbnail:hover {
    transform: scale(1.02); }

.nav-tabs li > a {
  color: #555;
  font-family: 'Comfortaa', cursive; }
  .nav-tabs li > a:hover {
    color: #74BABA; }

.side-movie-opts-large .movie-rating, .side-movie-opts-large .movie-rating:hover, .side-movie-opts-small .movie-rating, .side-movie-opts-small .movie-rating:hover {
  font-family: 'Comfortaa', cursive;
  color: #FF9900; }
.side-movie-opts-large a:hover i, .side-movie-opts-small a:hover i {
  transform: scale(1.1); }

.side-movie-opts-large {
  background-color: #eee;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 5px; }

@media (min-width: 600px) {
  .side-movie-opts-large {
    opacity: 1;
    position: fixed;
    right: 0;
    bottom: 200px; } }
@media (max-width: 600px) {
  .side-movie-opts-large {
    opacity: 0; } }
.slide-right {
  animation-duration: 1s;
  animation-name: slidein-right; }

@keyframes slidein-right {
  from {
    margin-left: 10%; }
  to {
    margin-left: 0; } }
.slide-left {
  animation-duration: 1s;
  animation-name: slidein-left; }

@keyframes slidein-left {
  from {
    margin-right: 10%; }
  to {
    margin-right: 0; } }
header.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: transparent;
  border: 0; }
  header.navbar .navbar-right {
    margin: 7px; }
    header.navbar .navbar-right .btn {
      margin: 0 4px 0 4px; }
  header.navbar .navbar-header a, header.navbar .navbar-nav.navbar-right a {
    color: black;
    background-image: url("/img/mochaGrunge.png"); }
  header.navbar .navbar-form {
    height: 10%;
    padding: 0;
    margin-top: 13px; }
    header.navbar .navbar-form .input-group .input-group-addon, header.navbar .navbar-form .form-control {
      height: 24px; }
    header.navbar .navbar-form .input-group .input-group-addon {
      color: #65B2B2; }
    header.navbar .navbar-form .input-group-addon i {
      line-height: 9px; }
  header.navbar .navbar-right {
    margin-top: 0; }
    header.navbar .navbar-right a {
      line-height: 20px; }
    header.navbar .navbar-right li.dropdown.open .dropdown-toggle {
      background-color: transparent;
      color: #555; }
    header.navbar .navbar-right .dropdown-menu {
      background-image: url("/img/mochaGrunge.png"); }
      header.navbar .navbar-right .dropdown-menu a:hover {
        background-color: transparent;
        color: #555; }
  header.navbar #main-nav {
    background-image: url("/img/mochaGrunge.png"); }

.center-form-div h1 {
  font-size: 3.3vw; }

.center-form-div, .about-div {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 20px black; }
  .center-form-div .btn, .about-div .btn {
    width: 100%; }
  .center-form-div .form-control, .center-form-div .btn, .about-div .form-control, .about-div .btn {
    margin: 5px; }

@media (min-width: 600px) {
  .center-form-div {
    width: 30%;
    padding: 50px;
    text-align: center;
    margin-left: 35%; }

  .about-div {
    width: 60%;
    padding: 50px;
    margin-left: 20%; }
    .about-div .btn {
      width: 60%; } }
@media (max-width: 600px) {
  .center-form-div {
    width: 100%; } }
.about-section .thumbnail {
  background-color: #eee;
  background-image: none;
  max-height: 130px; }
  .about-section .thumbnail .img-thumbnail {
    max-height: 80px; }
.about-section .caption p {
  text-align: center;
  color: #555;
  font-size: 80%; }

.fullpage-section, .fullpage-section .center-form-div {
  position: absolute;
  margin-top: 0;
  top: 20%; }

#fullpage .section > div {
  background-image: url("/img/sandpaper.png"); }

.section {
  width: 100%; }
  .section > div {
    background-color: #eee;
    width: 100%;
    padding: 10px;
    display: inline-block;
    box-shadow: 0 0 10px black;
    margin: 5% 0 0 0; }
  .section a {
    color: #65B2B2; }
    .section a:hover {
      color: #74BABA;
      text-decoration: none; }
  .section .movie-rating, .section .movie-rating a, .section .movie-rating a:hover {
    font-family: 'Comfortaa', cursive;
    color: #FF9900; }
  .section .movie-rating a:hover i {
    transform: scale(1.1); }
  .section h3 {
    font-family: 'Comfortaa', cursive; }
  .section .picks .row {
    width: 100%; }
  .section .picks .see-more {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    margin-top: 150%; }

.btn-play {
  color: #65B2B2;
  display: inline-block;
  border-radius: 20px;
  padding: 5px 5px 5px 10px; }
  .btn-play:hover {
    color: #74BABA;
    text-decoration: none; }

.movie-info {
  background-image: url("/img/sandpaper.png");
  margin-left: 5%; }
  .movie-info h1 {
    font-family: 'Comfortaa', cursive;
    margin-bottom: 20px;
    margin-left: 20px; }
  .movie-info .img-thumbnail {
    max-height: 600px; }
  .movie-info .movie-info-content {
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    min-width: 100%;
    min-height: 60%; }

footer {
  background-color: #555;
  bottom: 0;
  width: 100%;
  height: 150px;
  display: inline-block;
  margin-top: 30px;
  text-align: bottom; }
  footer h3, footer h4 {
    font-family: 'Comfortaa', cursive;
    margin-top: 0px; }
  footer h4 {
    text-align: right; }
  footer h2 {
    margin-top: 20px; }

.footer {
  position: absolute;
  height: 200px;
  bottom: 20px; }

.movie-table {
  border: 1px solid #65B2B2;
  border-radius: 10px;
  border-collapse: collapse; }
  .movie-table td {
    padding: 30px; }
    .movie-table td .img-thumbnail {
      max-height: 200px; }
    .movie-table td a:hover i.fa {
      transform: scale(1.1); }
  .movie-table tr {
    border: 1px solid #65B2B2; }
  .movie-table tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.05); }

.movie-info-table {
  margin-top: 20px; }
  .movie-info-table td {
    padding: 0 30px 20px 0; }

/*# sourceMappingURL=styles.css.map */
