// font-family: 'Comfortaa', cursive;
// font-family: 'Limelight', cursive;
// font-family: 'Lemon', cursive;
// font-family: 'Fascinate', cursive;
// font-family: 'Coustard', serif;

@import 'animations';
@import 'header';
@import 'index';

* {
	font-family: Verdana;
}

body {
	background-image: url('/img/mochaGrunge_@2X.png');
}

body, .btn, .form-control, .dropdown .dropdown-menu a, .dropdown-toggle {
	font-family: 'Comfortaa', cursive;
}

.brand-name {
	font-family: 'Lemon', cursive;
}

.btn.btn-info {
	background-color: #65B2B2;
	&:hover, &:active {
		background-color: #74BABA;
	}
}

form .form-control:focus {
    border-color: #74BABA;
    box-shadow: 0 0 6px #74BABA;
}

a.btn.btn-default.active {
	cursor: default;
}

.hidden {
	opacity: 0;
    transition: opacity 0.7s;
    transition-timing-function: ease;
}

.visible {
	opacity: 1;
	transition: opacity 0.7s;
    transition-timing-function: ease;
}

.movie-year {
	font-family: 'Comfortaa', cursive;
	color: #555;
	font-size: 80%;
}

.capture {
	display: inline-block;
	padding: 5px;
	text-align: left;
	color: white;
}

.movie-rating {
	font-family: 'Comfortaa', cursive;
	color: #FFFF00;
}

.movie-title {
	font-family: 'Comfortaa', cursive;
}

.section h3 {
	font-family: 'Coustard', serif;
}

.picks {
	background-image: url('/img/sandpaper.png');
	border-radius: 7px;
	padding: 20px;
	box-shadow: 0 0 10px #555;
	margin-left: 4%;
	.row {
		width: 90%;
	}
}

.thumbnail {
	background-image: url('/img/mochaGrunge.png');
	.img-thumbnail {
		padding: 0;
	}
	box-shadow: 0 0 7px #555;
	transition: all .4s ease;
	&:hover { 
		transform: scale(1.02); 
	}
}

.see-more {
	font-family: 'Comfortaa', cursive;
	position: absolute;
	top: 40%;
	margin-left: 85%;
	p {
		text-align: center;
		margin-top: 10px;
	}
}

.btn-play {
	color: #65B2B2;
	&:hover {
		color: #74BABA;
		text-decoration: none;
	}
}